/* 
495C83 primary
7A86B6 secondary
A8A4CE accent
C8B6E2 accent */

.canvas{
  width: 500px;
  height: 600px;
  background-color: #495c83;
  /* padding: 1px; */
  /* overflow: hidden; */
  filter: blur(2px);
}
.frame{
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}
.one{
  width: 425px;
  height: 150px;
  background-color: #7A86B6;
  margin: 20px auto;
  filter: blur(1px);
  box-shadow: 3px 3px #7A86B6;
  border-radius: 9px;
  transform: rotate(.6deg);
}
.two{
  background-color: #C8B6E2;
  width: 475px;
  height: 200px;
  margin: 0 auto 20px ;
  filter: blur(1px);
  box-shadow: 3px 3px #C8B6E2;
  border-radius: 8px 10px;
  transform: rotate(4.03deg);
}
.three{
  width: 91%;
  height: 25%;
  background-color: #584f66;
  margin: auto;
  filter: blur(2px);
  box-shadow: 5px 5px #584f66;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}