/* 
495C83 primary
7A86B6 secondary
A8A4CE accent
C8B6E2 accent */

.canvas{
  width: 500px;
  height: 600px;
  background-color: #495c83;
}
.frame{
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}
.one{
  width: 425px;
  height: 150px;
  background-color: #7A86B6;
  margin: 20px auto;
}